h1,h2{
    text-align: center;
    color: aliceblue;
}
header{
    text-align: center;
}
P{
    text-align: center;
    color: aliceblue;
}
a {
    text-align: center;
    color: green;
}
body{
    background-color: rgb(62, 70, 70);
    border: 20px;
    border-color: black;
}

#resume{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
img{
    display: block;
    margin: 0 auto;
    border: 10px;
    margin: 10px 20px 10px 20px;
}
